.login {
    width: calc(100% - 40px);
    max-width: 500px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login-header {
    display: flex;
    flex-direction: column;
}
.login-logo {
    width: 20vw;
    max-width: 10vh;
}
.login-title {
    font-size: 30px;
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
    margin: 20px 0 10px 0;
}

.login-subtitle {
    font-size: 20px;
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
    color: rgb(145, 145, 145);
}



