<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>navbar</title>
    <link rel="stylesheet" href="/public/assets/css/navbar.css">
</head>
<body>
    <nav>
        <a><img src="/public/assets/images/logotipo/gradient/SVG/nutriplanner-gradiente-horizontal-Wrap-colorido.svg.svg" height="40" alt="Logo"></a>
        <ul>
        <li><a href="/views/dashboard.html">Dashboard</a></li>
        <li><a href="/views/bibliotecaReceitas.html">Receitas</a></li>
        <li><a href="/views/listaCompras.html">Lista de Compras</a></li>
        <li><a href="/views/plano.html">Plano</a></li>
        <li><a href="/views/calculadora.html">Calculadora</a></li>
    </ul></nav>
    
</body>
</html>