<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Nutriplanner | Login</title>

    <!-- Styles -->
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/fonts.css">
    <link rel="stylesheet" href="../assets/css/common.css">
    <link rel="stylesheet" href="../assets/css/login.css">
  </head>
  <body>
    <!-- Login -->
    <div class="login">
      <div class="login-header">
        <img class="login-logo" src="../assets/images/logo/logo.jpg" alt="Logo Nutriplanner">
        <h1 class="login-title">Registre-se em Nutriplanner</h1>
        <h2 class="login-subtitle">Faça seu registro e aprenda com nossos profissionais e colaboradores a ter a saúde perfeita.</h2>
      </div>
      <div class="login-multi">
        <div class="login-multi__button start selected">
          <p class="login-multi__button-text">Cliente</p>
        </div>
        <div class="login-multi__button">
          <p class="login-multi__button-text">Nutricionista</p>
        </div>
        <div class="login-multi__button end">
          <p class="login-multi__button-text">Comprador</p>
        </div>
      </div>
      <div class="login-form">
        <input type="text" id="" class="login-input" placeholder="Nome Completo">
        <input type="text" id="" class="login-input" placeholder="Digite seu E-mail">
        <input type="password" id="" class="login-input" placeholder="Digite sua Senha">
        <input type="password" id="" class="login-input" placeholder="Repita Senha">
        <button class="login-submit">Registrar</button>
      </div>
      <div class="login-register">
        <p class="login-register__text">Já tem uma conta? <a href="login.html">Faça o login.</a></p>
      </div>
    </div>
    
    <!-- Scripts -->
    
  </body>
</html>