
.floatingBtn {
	position: fixed;
	bottom: 32px;
	right: 32px;
	z-index: 1050;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 4px 12px rgba(0,0,0,0.15);
	font-size: 28px;
	background-color: #b6d8a2b6;
	color: var(--cor-neutro-1);
	border: none;
	padding: 0;
}
.floatingBtn:hover{
	background-color: #a6d48b;
}

.floatingIcon {
	width: 32px;
	height: 32px;
	object-fit: contain;
}

.chatCard {
	color: var(--cor-apoio2);
	transition: transform 0.8s ease, color 0.8s;
}

.chatCard:hover {
	transform: translateY(-3px) translateX(-3px);
	transition: background-color 0.4s ease;
	color: var(--cor-neutro-1);
}

.chatOffcanvas{
	background-color:var(--cor-neutro-1)
}
