/* Header */
/* ===================== */
.header {
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}

.header-logo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.header-logo-img {
    max-height: 90%;
    margin-right: 15px;
}

.header-text-img {
    max-height: 40%;
}

.header-toggle-nav {
    height: 80%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-toggle-nav:hover {
    cursor: pointer;
}

.header-nav {
    display: none;
    height: 100%;
}

.header-item {
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    cursor: pointer;
}

.header-item:hover {
    text-decoration: underline;
}

/* Nav */
/* ===================== */
.nav {
    position: absolute;
    top: 0;
    left: -100vw;
    width: calc(100% - 1px);
    height: 100%;
    background-color: #fafafa;
    border-right: 1px solid #e9e9e9;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
    transition: left 0.4s linear;
}

.nav.open {
    left: 0;
}

.nav-item {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e9e9e9;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #e9e9e9;
}

.nav-item.end {
    justify-content: end;
}

.nav-item.end:hover {
    justify-content: end;
    cursor: default;
    background-color: inherit;
}

.nav-item.end .icon {
    cursor: pointer;
}

.nav-item .icon {
    margin: 0 10px;
}

.nav-item__text {
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
}


@media screen and (min-width: 887px) {
    .header {
        justify-content: center;
    }

    .header-toggle-nav, .nav, .header-text-img {
        display: none;
    }

    .header-nav {
        display: flex;
    }
}