/* Login */
/* ===================== */
.login {
    width: calc(100% - 40px);
    max-width: 500px;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Login Header */
/* ===================== */
.login-header {
    display: flex;
    flex-direction: column;
}

.login-logo {
    width: 20vw;
    max-width: 10vh;
}

.login-title {
    font-size: 21px;
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
    margin: 20px 0 10px 0;
}

.login-subtitle {
    font-size: 15px;
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
    color: rgb(145, 145, 145);
}

/* Login Multi-Enter */
/* ===================== */
.login-multi {
    width: 100%;
    margin: 40px 0 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.login-multi__button {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(150, 150, 150);
    background-color: rgb(150, 150, 150);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-multi__button.start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login-multi__button.end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login-multi__button-text {
    font-size: 12px;
    font-family: "Poppins Bold", Arial, Helvetica, sans-serif;
    color: rgb(69, 69, 69);
}

.login-multi__button.selected {
    background-color: white;
}

.login-multi__button.selected .login-multi__button-text {
    color: #c5e208;
}

/* Login Form */
/* ===================== */
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.login-input {
    width: 100%;
    height: 38px;
    margin-bottom: 5px;
    font-size: 15px;
}

.login-input:focus {
    outline: none;
}

.login-submit {
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #b6d8a2, #477f4f);
    color: white;
    font-family: "Poppins Bold", Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 15px;
    border: none;
}

.login-submit:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #93af83, #2f5435);
}

.login-reset-password {
    text-align: center;
    color: black;
    margin: 10px 0 20px 0;
    font-size: 14px;
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
}

.login-reset-password:hover {
    color: green;
}

/* Login Register */
/* ===================== */
.login-register {
    margin-top: 165px;
}

.login-register__text {
    text-align: center;
    font-size: 14px;
    font-family: "Poppins Medium", Arial, Helvetica, sans-serif;
}

.login-register__text a {
    text-decoration: underline;
    color: black;
}

.login-register__text a:hover {
    color: green;
    cursor: pointer;
}